<ion-header>
  <ion-toolbar color="danger">
    <ion-title> Menu
    </ion-title>
  </ion-toolbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="makanan">
        Makanan
      </ion-segment-button>
      <ion-segment-button value="minuman">
        Minuman
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'makanan'">
      <ion-item *ngFor="let item of itemk">
	      <ion-thumbnail item-start>
	        <img src="assets/imgs/ct2.jpg">
	      </ion-thumbnail>
	      <h2>{{ item.nama_menu }}</h2>
	      <p>• Rp. {{ item.harga }}</p>
	      <button ion-button icon-start (click)="addEntry( item.id_menu, item.nama_menu, item.harga)">
				  <ion-icon name="md-basket"></ion-icon>
				  Pesan
				</button>
	    </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'minuman'">
      <ion-item *ngFor="let item of itemn">
	      <ion-thumbnail item-start>
	        <img src="assets/imgs/minum.jpg">
	      </ion-thumbnail>
	      <h2>{{ item.nama_menu }}</h2>
	      <p>• Rp. {{ item.harga }}</p>
	      <button ion-button icon-start (click)="addEntry( item.id_menu, item.nama_menu, item.harga)">
				  <ion-icon name="md-basket"></ion-icon>
				  Pesan
				</button>
	    </ion-item>
    </ion-list>
  </div>
</ion-content>
